<style>

@media screen and (min-width: 769px) {
.topnav {
  overflow: hidden;
  background-color: orangered;
  text-align: right;
  position: fixed;
  top: 0%;
  width: 100%;
}


.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a:visited
{
  background-color: gold;
  color: white;
}
}

@media screen and (max-width: 768px) {
.topnav {
  overflow: hidden;
  background-color: orangered;
  text-align: right;
  position: fixed;
  top: 0%;
  width: 100%;
}


.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 12px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a:visited
{
  background-color: gold;
  color: white;
}
}

</style>
{% if current_user.is_authenticated %}
<div class="topnav">

  <a href="{{ url_for('logout') }}">Çıkış</a>
  <a href="{{ url_for('new_task_definition') }}">Yeni Görev Akışı Tanımlama</button></a>
  <a href="{{ url_for('see_task_types') }}">Tanımlı Olan Görev Akışları</a>
  <a href="{{ url_for('show_logs') }}">Loglar</button></a>
  <a href="{{ url_for('index2') }}">Ana Sayfa</button></a>
    
  
</div>

{% else %}
<div class="topnav">
<a href="{{ url_for('login') }}">Login</a>
</div>
{% endif %}