<!DOCTYPE html>
<head>
    <title>Yeni Görev</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='new_task_assignment.css') }}">
    
    <style>


    </style>
    
</head>

<body>
{% extends "base2.html"%}

{%block content%}



<div class="main_section">
    
    <div class="main_content_box">
               
        
        <div class="main_content_type1_container">
    
            <div class="main_content_type1">
                <div class="tasks_ahead_text">
                    {% for message in get_flashed_messages() %}
<div class="alert alert-success" role="alert">{{message}}</div>
{% endfor %}



    <br/>
    <form method="POST", id="myform" enctype="multipart/form-data">
        {{form.hidden_tag()}}
        
        <table style="width:100%", id="mytable">
        
        <tr><td>{{form.task_name.label(class="form-label")}} </td> </tr>
        <tr><td>{{form.task_name(class="form-control")}} </td> </tr>

        <tr><td>{{form.task_type_name.label(class="form-label")}} </td> </tr>
        <tr><td>{{form.task_type_name(class="form-control")}} </td> </tr>
        
        <tr><td>{{form.subordinate_email.label(class="form-label")}} </td> </tr>
        <tr><td>{{form.subordinate_email(class="form-control")}} </td> </tr>
        
        <tr><td>{{form.urgent_or_not.label(class="form-label")}} </td> </tr>
        <tr><td>{{form.urgent_or_not(class="form-control")}} </td> </tr>
        
        <tr><td>{{form.acceptance_required_or_not.label(class="form-label")}} </td> </tr>
        <tr><td>{{form.acceptance_required_or_not(class="form-control")}} </td> </tr>
        
        </table>

        <br/>
        {{form.submit(class="save_button")}}
    </form>



    
                </div>
            </div>

        </div>
    
    </div>
    
</div>

<script>
    



</script>


{%endblock%}



</body>
</html>